.idea/
node_modules/
.DS_Store/
*.swp
/public/web/nbproject/private/
.DS_Store

*.espressostorage

mongo-start

start-server

cfm-web.esproj/user.philippehong.espressostorage

.DS_Store

.DS_Store

cfm-web.esproj/user.philippehong.espressostorage

public/web/cfm-web.esproj/user.philippehong.espressostorage
/public/web/.build/.buildf306e5a671ab2339/nbproject/private/
/public/web/.build/.buildf6098187bda03a6c/nbproject/private/
/public/cordova/nbproject/private
/public/platforms/android/assets/www/nbproject/private/
/public/www/nbproject/private/
/public/nbproject/private/
/public/platforms/android/assets/FDTD/nbproject/private/
