<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../web/fdtd/css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="password">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<h1>FDTD reset Password</h1>
<p>hello <%= user.pseudo %></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum cumque et in incidunt laborum magni non odit provident quam. Laborum, provident quis? Atque blanditiis ducimus esse, facilis harum unde.</p>
<section ng-controller="resetPasswordCtrl">
    <form>
        <div>
            <label for="password"></label>
            <input type="text" id="password" ng-model="newPassword.value"/>
        </div>
        <div>
            <button ng-click="resetPassword(newPassword)">ResetPassword</button>
        </div>
    </form>
    <p ng-bind="message"></p>
</section>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script>
angular.module('password',[])
.controller('resetPasswordCtrl',['$scope','$http',function($scope,$http){
    var user = <%- JSON.stringify(user) %>;
    console.log(user)
    $scope.resetPassword = function(newPassword){
        var newUser = {
            password : newPassword.value,
            _id : user._id,
            timestamp : user.reset_password_timestamp
        }
        $http.post('/password/confirm',newUser)
        .success(function(data){
            console.log(data)
            $scope.message = data.message;
        })
        .error(function(err){
            console.log(err)
            $scope.message = err.message;
        })
    }
}])
</script>
</body>
</html>